NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173

MONGODB_URI=mongodb+srv://reenagore94_db_user:xNQQXB42RobUXwul@cluster0.utl04q5.mongodb.net/?appName=Cluster0

RESEND_API_KEY=re_UmjEv584_2D3aWCwChxwK6AUFpSGcgTGA
RESEND_FROM_EMAIL=hello@reenagore.com
ADMIN_EMAIL=admin@reenagore.com

CLOUDINARY_CLOUD_NAME=dohe7sx2v
CLOUDINARY_API_KEY=885671715422343
CLOUDINARY_API_SECRET=VMBxcaz_aQxZddiaT_zbDaCGQC4

PAYSTACK_SECRET_KEY=sk_test_a82b37ab37fec15c85e5e9cfbd9bfd78e95bfa9d
PAYSTACK_PUBLIC_KEY=pk_test_18a78f97f3bafdb23d6a762498c346c3b012be7e
PAYSTACK_CALLBACK_URL=http://localhost:5173/payment/verify
PAYSTACK_CURRENCY=KES


JWT_SECRET=ReenaGore!22223i3i
JWT_EXPIRES_IN=7d
ADMIN_COOKIE_NAME=reena_admin_token